* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 1240px;
  margin: auto;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #ddd;
  box-shadow: 10px 5px 10px #aaa;
}

main {
  max-width: 1240px;   
} 

.header,
.footer {
  max-width: 1240px;
  height: 160px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsl(0, 29%, 82%);
}

.footer {
  height: 80px;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: auto;
}

.personal-wrap {
  width: 600px;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
}

.personal-wrap > img:first-child {
  max-width: 150px;
  height: 150px;
  border: 5px solid #444;
  box-shadow: 5px 5px 5px #444;
}

.texts {
  max-width: 400px;
  text-align: left;
  margin-left: 20px;
}

h1,
h2,
.texts > img {
  margin-top: 10px;
}

h2 {
  color: #444;
}

.quote-wrap {
  width: 600px;
  height: 100px;
  font-family: 'Courgette', cursive;
  font-size: 1.2em;
  text-align: right;
}

.main-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.section {
  max-width: 1010px;
  background-color: #fff;
}

.aside {
  max-width: 260px;
  background-color: hsl(0, 29%, 82%);
}

.headline {
  height: 26px;
  background-color: #444;
}

h3 {
  color: #fff;
  text-align: left;
  margin: 0 20px 20px 20px;
}

.icons {
  height: 16px;
}

ul {
  list-style: none;
  margin: 20px;
}

.contacts a {
  line-height: 2;
}


a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #dfa6a6;
}

.block-item {
  max-width: 980px;
  margin: 20px;
  line-height: 1.5;
}